@use "../utils/variables";

.auth-register-page {
  &__terms {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  &__terms-label {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    font-size: 14px;
    font-weight: variables.$font-weight-medium;
    line-height: normal;
    color: #333333;
    cursor: pointer;
    user-select: none;
  }

  &__terms-link {
    font-size: 16px;
    font-weight: variables.$font-weight-medium;
    color: #089b7c;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
